---
/* ——— You can fetch data from above through props. or here, directly ——— */
/*
import type { Products } from '../types.js';

export interface Props {
	products: Products;
}

const { products } = Astro.props as Props;
*/

/* ——— Using internal operations ——— */
/*
import { getProducts } from '../../operations/index.js';

const products = getProducts();
*/

/* ——— Or the public fetch API ——— */

import { fetchData } from '../utils.js';

const products = await fetchData('products');
---

<products-crud class="overflow-hidden shadow">
	<table
		class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-600"
	>
		<thead class="bg-gray-100 dark:bg-gray-700">
			<tr>
				<th scope="col" class="p-4">
					<div class="flex items-center">
						<input
							id="checkbox-all"
							aria-describedby="checkbox-1"
							type="checkbox"
							class="w-4 h-4 border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:focus:ring-primary-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600"
						/>
						<label for="checkbox-all" class="sr-only">checkbox</label>
					</div>
				</th>

				{
					[
						'Product Name',
						'Technology',
						'Description',
						'ID',
						'Price',
						'Discount',
						'Actions',
					].map((th) => (
						<th
							scope="col"
							class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400"
						>
							{th}
						</th>
					))
				}
			</tr>
		</thead>

		<tbody
			class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700"
		>
			{
				products.map((product) => (
					<tr class="hover:bg-gray-100 dark:hover:bg-gray-700">
						<td class="w-4 p-4">
							<div class="flex items-center">
								<input
									id={`checkbox-${product.id}`}
									aria-describedby="checkbox-1"
									type="checkbox"
									class="w-4 h-4 border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:focus:ring-primary-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600"
								/>
								<label for={`checkbox-${product.id}`} class="sr-only">
									checkbox
								</label>
							</div>
						</td>
						<td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">
							<div class="text-base font-semibold text-gray-900 dark:text-white">
								<data value="name">{product.name}</data>
							</div>
							<div class="text-sm font-normal text-gray-500 dark:text-gray-400">
								<data value="category">{product.category}</data>
							</div>
						</td>
						<td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
							<data value="technology">{product.technology}</data>
						</td>
						<td class="max-w-sm p-4 overflow-hidden text-base font-normal text-gray-500 truncate xl:max-w-xs dark:text-gray-400">
							<data value="description">{product.description}</data>
						</td>
						<td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
							#<data value="id">{product.id}</data>
						</td>
						<td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
							<data value="price">{product.price}</data>
						</td>
						<td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
							<data value="discount">{product.discount}</data>
						</td>

						<td class="p-4 space-x-2 whitespace-nowrap">
							<button
								type="button"
								id="updateProductButton"
								data-drawer-target="drawer-update-product-default"
								data-drawer-show="drawer-update-product-default"
								aria-controls="drawer-update-product-default"
								data-drawer-placement="right"
								class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
							>
								<svg
									class="w-4 h-4 mr-2"
									fill="currentColor"
									viewBox="0 0 20 20"
									xmlns="http://www.w3.org/2000/svg"
								>
									<svg>
										<path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
										<path
											fill-rule="evenodd"
											d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
											clip-rule="evenodd"
										/>
									</svg>
								</svg>
								Update
							</button>
							<button
								type="button"
								id="deleteProductButton"
								data-drawer-target="drawer-delete-product-default"
								data-drawer-show="drawer-delete-product-default"
								aria-controls="drawer-delete-product-default"
								data-drawer-placement="right"
								class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:ring-red-300 dark:focus:ring-red-900"
							>
								<svg
									class="w-4 h-4 mr-2"
									fill="currentColor"
									viewBox="0 0 20 20"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										fill-rule="evenodd"
										d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
										clip-rule="evenodd"
									/>
								</svg>
								Delete item
							</button>
						</td>
					</tr>
				))
			}
		</tbody>
	</table>
</products-crud>

<script>
	import { fetchData } from '../utils.js';

	export class ProductsCRUD extends HTMLElement {
		#body = this.querySelector('tbody')!;
		#rows = this.#body.querySelectorAll('tr')!;

		/**
		 * Fetch new content from API and update DOM text accordingly
		 */
		async update() {
			const newData = await fetchData('products');

			this.#rows.forEach((row, index) =>
				row.querySelectorAll('data').forEach((binding) => {
					const valKey = binding.value;
					const rowData = newData[index];
					if (!rowData) return;
					if (!(valKey in rowData)) return;

					binding.innerText =
						rowData[valKey as keyof typeof rowData].toString();
				}),
			);

			console.log('New data received!', newData);
		}
	}

	export const tagName = 'products-crud';
	declare global {
		interface HTMLElementTagNameMap {
			[tagName]: ProductsCRUD;
		}
	}
	customElements.define(tagName, ProductsCRUD);
</script>
