---
// library imports
interface Props {
    label: string;
    type: string;
    name: string;
    id: string;
    placeholder: string;
    isRequired: boolean;
    classes?: string;
}

const {
    label,
    type,
    name,
    id,
    placeholder,
    isRequired = false,
    classes,
} = Astro.props as Props;
---

<div>
    <label for = {id} class = "block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        {label}
    </label>
    <input
        type={type as "text"}
        name={name}
        id={id}
        class:list={[
            "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
            classes
        ]}
        placeholder={placeholder}
        {...(isRequired ? { required: true } : {})}
    />
</div>